body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.menu {
  display: flex;
}

.menu a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
}

.burger {
  display: none;
  cursor: pointer;
}

.line {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
}
.demo-container {
        background-color: black;
      }

      video,
      canvas {
        position: absolute;
      }
  
      .contenedor{
        position: relative;
      }

      .right{
        position: absolute; /* Posiciona este elemento de forma absoluta */
  top: 250px;
  left: calc(360px + 10px); 
  width: 100px; /* Ajusta según tu necesidad */
  height: 50px; /* Ajusta según tu necesidad */
  z-index: -1000;
  
      }
@media screen and (max-width: 768px) {
  .menu {
    display: flex;
    flex-direction: column;
  }

  
}
